// Specific CSS for your home-page
.navbar {
  background-color: #ffffff !important; /* Aquí puedes poner el código HEX que prefieras */
}

.form-control:focus {
  border-color: #ffffff; /* Color del borde (puedes cambiar el color aquí) */
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6); /* Efecto glow con sombra */
}

.nav-item.active .nav-link {
  color: #000000;
}

.custom-link-color:hover {
  color: #000000; /* Example: Bootstrap primary blue */
}

.custom-link-color {
  color: #caa7c5;
  font-weight: bolder;
}

.img-hover-opacity {
  transition: transform 0.3s ease;
}

.img-hover-opacity:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Example shadow */
}

.btn-outline-custom {
  border-color: #9bca4a00;
  background-color: #f7caf1;
  color: #795f76;
  border-radius: 2px;
}

.btn-outline-custom:hover {
  border-color: #f7caf1;
  background-color: #ffffff00;
  color: #caa7c5;
}

.text-big {
  font-size: 20px;
}

footer {
  padding-top: 70px;
  padding-bottom: 50px;
}

.bg-custom {
background-color: #000000;
width: auto;
}

.social-icons {
  display: flex;
  justify-content: start;
  gap: 20px;
  font-size: 25px;
}
.social-icons li {
  list-style: none;
  transition: transform 0.3s ease;
}

.social-icons a:hover i {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.typing-effect {
  display: inline-block;  /* Hace que el texto se muestre en una línea */
  white-space: nowrap;    /* Evita que el texto se divida en varias líneas */
  overflow: hidden;       /* Oculta el texto mientras se escribe */
  border-right: 3px solid white;  /* Simula el cursor */
  padding-right: 5px;     /* Espacio adicional para el cursor */
  animation: typing 5s steps(50) 1s forwards, blink 0.75s step-end infinite, hideCursor 0s 5s forwards; /* Animaciones: escritura, parpadeo y desaparecer el cursor */
}

/* Animación de escritura */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; /* La animación llena el ancho del texto */
  }
}

/* Animación para el parpadeo del cursor */
@keyframes blink {
  50% {
    border-color: transparent;  /* El cursor se apaga temporalmente */
  }
}

/* Animación para esconder el cursor después de que termine la escritura */
@keyframes hideCursor {
  to {
    border-right: transparent;  /* El cursor desaparece */
  }
}

/* Contenedor que alinea los textos verticalmente */
